doctype html
html(lang="en")
  head
    title= 'APY'
    link(rel="stylesheet", href="/styles.css")
  body
    h1.title Obtené listas de departamentos y ciudades del Paraguay
    #container.col
      ul
        li
          a(href="/api/departamentos").
            Departamentos
        li
          a(href="/api/ciudades").
            Ciudades
